@use '../../../shared/styles/vars' as *;
@use '../../../shared/styles/mixins' as *;

.sidebar_nav {
    background: $peach;

    width: 365px;
    height: 100vh;
    border-radius: 0px 10px 0px 10px;

    margin-top: 3%;

    .sidebar_nav_content {
        width: 90%;
        justify-self: center;
        height: 70%;
        
        padding-top: 8%;
    }
}