@use '../../../shared/styles/vars' as *;
@use '../../../shared/styles/mixins' as *;

.create_task_wrapper {
    justify-self: center;

    width: 800px;
    height: 800px;

    border: none;

    .create_task_content {
        width: 90%;
        height: 90%;
        margin-top: 4%;
        display: flex;
        flex-direction: column;
        gap: 8%;
        
        justify-self: center;

        
        .create_task_top_content {
            display: flex;
            justify-content: space-between;

            .create_task_title {
                display: inline-block;
                width: max-content;
                position: relative;

                @include textStyle($fontSize: $fontSize16, $fontWeight: 600);

                &:after {
                    content: '';

                    width: 80%;
                    
                    border: 1px solid $orange;

                    position: absolute;
                    left: 0;
                    bottom: -8%;
                }
            }

            .create_task_close_btn {
                background: none;
                border: none;
                cursor: pointer;

                @include textStyle($fontSize: 14px, $fontWeight: 600);

                text-decoration: underline;
            }
        }

        .create_task_form {
            display: grid;
            row-gap: 25px;
            width: 100%;
            height: 100%;
            .form_wrapper {
                padding-left: 50px;
                padding-top: 10px;
                display: grid;
                row-gap: 5%;
                .input_conteiner {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    .input_wrapper {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        & > input {
                            width: 90%;
                            height: 40px;
        
                            outline: none;
        
                            border: 1px solid $gray;
        
                            border-radius: 8px;
                            padding-left: 15px;
        
                        }
                    }
                }

                .checkbox_wrapper {
                    display: flex;
                    align-items: center;
                    border: none;

                    gap: 12px;
                    div  {
                        
                        & > label {
                            
                            display: flex;
                            align-items: center;
                            gap: 8px;
                            & > span {
                                @include textStyle($fontSize: $fontSize16, $fontWeight: 600, $color: $gray);
                            }

                            input {
                                width: 15px;
                                height: 15px;
                            }
                        }

                        
                    }
                }

            }
            
            button {
                width: 150px;
                height: 40px;

                

                border: none;
                background: $orange;

                @include textStyle($fontSize: 14px, $fontWeight: 600, $color: $white);

                border-radius: 8px;
            }
            
        }
    }
}

.error {
    color: $red
}