// fonts vars
$defaultFont: "Inter", sans-serif;

$fontSize16: 12px;
$fontSize16: 14px;
$fontSize16: 16px;
$fontSize18: 18px;
$fontSize20: 20px;
$fontSize22: 22px;
$fontSize24: 24px;

$fontWeightBold: 600;
$fontWeightRegular: 400;
$fontWeightSmall: 200;

// colors vars
$black: #000000;
$red: #F21E1E;
$blue: #0225FF;
$lightBlue: #42ADE2;
$gray: #747474;
$lightGray: #A1A3AB;
$peach: #FF6767;
$white: #FFFFFF;
$orange: #F24E1E;
$green: #05A301


