@use '../../../shared/styles/vars' as *;
@use '../../../shared/styles/mixins' as *;

.task_card_wrapper {
    width: 365px;
    height: 134px;

    
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 10px;
    border: 1px solid $gray;
    

    cursor: pointer;

    &:hover {
        background: #a1a3ab8f;
    }

    .task_card_content {
        width: 90%;
        height: 90%;
        
        
        background: transparent;

        display: grid;
        grid-template-columns: 20px 1fr;
        grid-template-rows: 20px 1fr 1fr;
        
        column-gap: 5px;

        .priority_circle {
            width: 12px;
            height: 12px;
            border-radius: 100%;

            grid-row: 1;
            grid-column: 1;
            align-self: center;
            justify-self: center;

            &.extreme {
                border: 2px solid $red;
            }

            &.moderate {
                border: 2px solid $lightBlue;
            }

            &.low {
                border: 2px solid $green;
            }
        }

        .task_card_text_content {
            grid-column: 2;
            grid-row: 1/2;

            display: grid;
            width: 100%;
            height: 70px;

            grid-template-rows: 20px;

            .task_card_title {
                @include textStyle($fontSize: 16px, $fontWeight: 600);
            }

            .task_card_short_desc {
                @include textStyle($fontSize: 14px, $fontWeight:$fontWeightRegular, $color: $gray);
                align-self: center;
                overflow: hidden; 
                
                /* 3. Добавляем многоточие в конце обрезанного текста */
                text-overflow: ellipsis;
            }
        }

        .task_card_progress {
            grid-row: 3;
            grid-column: 2;
            align-self: center;
            
            display: flex;
            gap: 7px;

            white-space: nowrap;
            @include textStyle($fontSize: 10px, $fontWeight:$fontWeightRegular);
        }

    }
}

.extreme {
    color: $red;
}

.moderate {
    color: $lightBlue;
}

.low {
    color: $green;
}

.done {
    color: $green;
}
.in_progress {
    color: $lightBlue;
}
.not_started {
    color: $red;
}


