@use '../../../styles/vars' as *;
@use '../../../styles/mixins' as *;


.header_conteiner {
    width: 100vw;
    max-width: 100%;
    height: 100px;
    box-shadow: 5px 5px 8px #0c0c0c1a;
    .header_content {
        width: 100%;
        height: 100%;

        display: grid;
        grid-template-columns: repeat(5,1fr);

        align-items: center;
        justify-items: center;

        .logo_conteiner {
            width: max-content;
            height: max-content;

            @include textStyle($fontSize: 32px, $fontWeight: 500);
            text-transform: uppercase;
            span {
                color: $peach;
            }
        }

        .header_date {
            grid-column: 5/6;

            display: flex;
            flex-direction: column;
            align-items: center;
            @include textStyle($fontSize: 18px, $fontWeight: 500);

            .header_date {
                color: $lightBlue;
            }
        }
    }
}