.layout {
    display: flex;
    flex-direction: column;

    min-height: 100vh;

    .middle_content {
        display: flex;
        
        column-gap: 100px;
        main {
            margin-top: 3%;
            
            
        }
    }
}