@use '../../../shared/styles/mixins' as *;
@use '../../../shared/styles/vars' as *;

.tasks_wrapper {
    

    width: 520px;
    height: 750px;
    display: grid;
    
    border: 2px solid $gray;
    border-radius: 8px;
    overflow: hidden;

    .content {
        display: grid;
        width: 90%;
        height: 90%;
        grid-template-rows: 20px 1fr;
        justify-self: center;
        align-self: center;
        row-gap: 25px;
        
        .tasks_top_content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            height: max-content;

            .task_title {
                @include textStyle($fontSize: 16px, $fontWeight: 600);
                position: relative;
                display: inline-block;
                width: max-content;
                &::after {
                    content: '';
                    width: 80%;

                    border: 1px solid $orange;

                    position: absolute;
                    left: 0%;
                    bottom: -5%;

                    border-radius: 5px;
                }
            }
    
            .add_button {
                border: none;
                border-radius: 3px;

                cursor: pointer;

                background: $orange;

                width: 25px;
                height: 25px;

                & > div {
                    width: 100%;
                    height: 100%;
                    & > div {
                        width: 100%;
                        height: 100%;
                        
                        display: grid;
                        justify-content: center;
                        align-items: center;
                    }
                }

            }
        }

        .tasks_list {
            box-sizing: border-box;
            width: 100%;
            max-height: 700px;
            
            display: grid;
            row-gap: 15px;
            
            overflow-y: scroll;
            
            

            &.few_task {
                display: flex;
                flex-direction: column;
                row-gap: 15px;
                overflow-y: hidden;
            }
            
            
            
        }
    }
}